<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/account">App-Chat</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav  me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard">Dashboard</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" routerLink="/account">Account</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" routerLink="/profile">Edit Profile</a>
          </li>
  
          <!-- Admin-specific links -->
          <li class="nav-item" *ngIf="isAdmin">
            <a class="nav-link" routerLink="/admin">Admin Settings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/groups">Manage Groups</a>
          </li>
          
          <!-- Group Admin-specific links -->
          <li *ngIf="isGroupAdmin" class="nav-item">
            <a class="nav-link" routerLink="/groups">Manage Groups</a>
          </li>
          
          <!-- Regular User links -->
          <li *ngIf="isUser" class="nav-item">
          </li>
          
          <li *ngIf="isLoggedIn" (click)="logout()" class="nav-item">
            <a href="#" class="nav-link" >Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
  <div class="container">
    <router-outlet></router-outlet>
  </div>